@font-face {
  font-family: "PtMono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"), url("../fonts/PTMono-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto-Condensed.woff2") format("woff2"), url("../fonts/Roboto-Condensed.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body.hidden {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden; }

h1 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  margin: 0;
  color: #ffffff;
  letter-spacing: 0.07em;
  text-transform: uppercase; }

h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff; }

a {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  outline: none; }
  a:hover {
    color: #00b2ff; }

p {
  margin: 0;
  color: #ffffff; }

button {
  outline: none; }
  button:hover {
    color: black; }

input[type="text"] {
  color: #ffffff; }

input[type="text"]::-webkit-input-placeholder {
  color: #ffffff; }

input[type="text"]::-moz-placeholder {
  color: #ffffff; }

input[type="text"]:-ms-input-placeholder {
  color: #ffffff; }

input[type="text"]::-ms-input-placeholder {
  color: #ffffff; }

input[type="text"]::placeholder {
  color: #ffffff; }

textarea[name="comment"]::-webkit-input-placeholder {
  color: #ffffff; }

textarea[name="comment"]::-moz-placeholder {
  color: #ffffff; }

textarea[name="comment"]:-ms-input-placeholder {
  color: #ffffff; }

textarea[name="comment"]::-ms-input-placeholder {
  color: #ffffff; }

textarea[name="comment"]::placeholder {
  color: #ffffff; }

textarea[name="text"]::-webkit-input-placeholder {
  color: #ffffff; }

textarea[name="text"]::-moz-placeholder {
  color: #ffffff; }

textarea[name="text"]:-ms-input-placeholder {
  color: #ffffff; }

textarea[name="text"]::-ms-input-placeholder {
  color: #ffffff; }

textarea[name="text"]::placeholder {
  color: #ffffff; }

span {
  margin: 0; }

input::-ms-clear {
  display: none; }

.footer__block-title {
  cursor: pointer;
  padding: 10px; }

header {
  position: relative;
  background-image: url("../img/back-head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 51px;
  background-color: #000000; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    header {
      background-image: url("../img/back-head@2x.jpg"); } }

@media (max-width: 1023px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 186px; } }

@media (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 75px; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
  max-width: 1432px;
  width: 100%;
  margin: 0 auto;
  z-index: 10000; }

.main-nav__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px; }

.main-nav__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff; }

.main-nav__title-info {
  font-family: "Roboto", "Arial", sans-serif;
  margin-top: 1px;
  font-size: 12px;
  line-height: 14px;
  color: #788891; }

.main-nav__mail-link {
  padding-left: 40px;
  padding-right: 20px;
  margin-right: 60px;
  position: relative;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position-y: 3px; }
  .main-nav__mail-link:hover {
    background-size: 24px; }

.main-nav__phone-link {
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 4px;
  padding-bottom: 2px; }
  .main-nav__phone-link:hover {
    background-size: 17px;
    background-position-y: -1px; }

.main-nav__header-btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 181px;
  margin-left: 21px;
  background: none;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: -10px;
  margin-right: 5px; }
  .main-nav__header-btn:hover {
    border: 2px solid #00b2ff;
    color: #00b2ff; }

.main-nav__contact-block {
  position: relative;
  top: 6px; }

.main-nav__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
  cursor: pointer; }

.main-nav__logo {
  margin-top: -4px; }

@media (max-width: 1023px) {
  .main-nav__disabled {
    display: none; }
  .main-nav__title-info {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px; }
  .main-nav__contact-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 13px;
    top: 3px; }
  .main-nav__mail-link {
    margin-right: 0;
    margin-top: 7px;
    background-size: 25px, 18px; }
  .main-nav__phone-link {
    margin-top: 2px;
    background-size: 25px, 18px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position-x: 0;
    padding-bottom: 0; }
  .main-nav {
    margin-left: 25px;
    padding-top: 24px;
    margin-right: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__header-btn {
    display: none; }
  .main-nav__logo-container {
    margin-left: 0; } }

@media (max-width: 767px) {
  .main-nav__title {
    display: none; }
  .main-nav__title-info {
    display: none; }
  .main-nav {
    padding-top: 0;
    margin-bottom: 37px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -17px; }
  .main-nav__logo {
    width: 38px;
    height: 38px;
    position: relative;
    left: 34px;
    top: 19px; }
  .main-nav__mail-link {
    margin-top: 18px;
    margin-right: -11px;
    padding-bottom: 25px; }
  .main-nav__phone-link {
    margin-top: 18px; }
  .main-nav__contact-block {
    margin-right: -32px; } }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 229px;
  max-width: 1493px; }

.header-content__text-block {
  position: relative;
  right: -46px; }
  .header-content__text-block::before {
    content: "";
    position: absolute;
    width: 689px;
    top: -199px;
    height: 650px;
    right: -658px;
    background: url("../img/Group 18.svg");
    background-repeat: no-repeat; }

.header-content__title-info {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 27px;
  position: relative;
  margin-left: 98px;
  margin-bottom: 63px;
  width: 680px; }
  .header-content__title-info::before {
    content: "";
    position: absolute;
    width: 68px;
    height: 2px;
    left: -94px;
    z-index: 10;
    top: 20px;
    background-color: #ffffff; }

.header-content__main-title {
  width: 740px;
  margin-right: 71px; }

.header-content__link {
  background: #00b2ff;
  padding: 17px 47px;
  margin-left: 95px;
  margin-top: 39px;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  .header-content__link:hover {
    color: black; }

.header-content__scroll-link {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 84px;
  left: -35px;
  opacity: 0.5; }

.header-content__img {
  position: relative;
  bottom: 59px;
  right: -24px;
  width: 705px;
  height: 515px; }

.header-content__link-mobail {
  display: none; }

@media (max-width: 1023px) {
  .header-content__main-title {
    width: 470px;
    font-size: 60px;
    line-height: 70px;
    margin-left: 20px; }
  .header-content__title-info {
    width: 356px;
    font-size: 18px;
    line-height: 156.8%;
    margin-left: 70px;
    margin-top: 29px;
    margin-bottom: 73px; }
    .header-content__title-info::before {
      width: 33px;
      left: -46px;
      top: 15px; }
  .header-content__text-block {
    position: relative;
    left: -38px;
    right: 0;
    z-index: 10000; }
    .header-content__text-block::before {
      display: none; }
  .header-content__link {
    width: 379px;
    padding: 20px 32px 18px;
    margin-left: 70px;
    font-size: 16px;
    cursor: pointer; }
  .header-content__img {
    position: absolute;
    right: 0;
    width: 255px;
    height: 334px;
    bottom: 245px; }
  .header-content__scroll-link {
    display: none; }
  .header-content {
    margin-top: 116px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header-content::before {
      display: none; }
  .header-content__img-block {
    z-index: 1; }
    .header-content__img-block::before {
      content: "";
      position: absolute;
      width: 772px;
      top: -1px;
      height: 640px;
      right: 0;
      background-image: url("../img/tablet-group.svg");
      z-index: 0; } }

@media (max-width: 767px) {
  .header-content__main-title {
    font-size: 40px;
    line-height: 47px;
    width: 277px;
    z-index: 101;
    position: relative;
    margin-left: 14px;
    top: -12px; }
  .header-content__text-block {
    top: -4px;
    left: 0;
    margin-left: 0; }
  .header-content__img-block {
    position: relative;
    z-index: 90; }
    .header-content__img-block::before {
      content: "";
      position: absolute;
      width: 406px;
      top: -160px;
      height: 640px;
      right: -250px;
      background-image: url("../img/mobail-group.svg"); }
  .header-content__title-info {
    font-size: 16px;
    line-height: 156.8%;
    width: 245px;
    margin-left: 65px;
    margin-top: 14px;
    margin-bottom: 44px; }
    .header-content__title-info::before {
      width: 33px;
      left: -50px;
      top: 15px; }
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 320px; }
  .header-content__img {
    position: relative;
    width: 301px;
    height: 220px;
    bottom: -13px;
    left: 22px;
    z-index: 90; }
  .header-content__link {
    display: none; }
  .header-content__link-mobail {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    background: #00b2ff;
    padding-top: 17px;
    padding-bottom: 14px;
    width: 287px;
    border-radius: 2px;
    margin-left: 19px;
    text-align: center; }
    .header-content__link-mobail:hover {
      color: #000000; } }

.advantages__container {
  margin: 0 auto;
  position: relative;
  padding-bottom: 78px;
  max-width: 1229px; }
  .advantages__container::before {
    content: "";
    position: absolute;
    width: 692px;
    height: 730px;
    left: 224px;
    top: 33px;
    background-image: url("../img/backpolygon-advantages.svg");
    background-repeat: no-repeat;
    z-index: 50; }

.advantages__content-block {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  padding-bottom: 22px; }
  .advantages__content-block--bottom {
    padding-top: 104px;
    padding-bottom: 107px; }
  .advantages__content-block--bottom-right {
    padding-bottom: 88px;
    padding-top: 85px; }

.advantages__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  position: relative;
  z-index: 200;
  margin: 105px auto 0;
  max-width: 1157px;
  margin-left: 3%;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .advantages__list::before {
    content: "";
    position: absolute;
    left: -174px;
    z-index: 10;
    top: -68px;
    width: 300px;
    height: 300px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat; }
  .advantages__list::after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    width: 300px;
    height: 300px;
    right: -347px;
    top: 339px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat; }

.advantages__item {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  list-style: none;
  margin-bottom: 29px;
  z-index: 100;
  margin-right: -17px;
  background-color: #ffffff;
  cursor: pointer; }
  .advantages__item--margin {
    margin-right: 25px; }

.advantages__title {
  font-size: 24px;
  line-height: 34px;
  color: #00b2ff;
  margin-left: -12px;
  position: relative;
  top: -11px;
  margin-bottom: 7px;
  padding-left: 54px; }
  .advantages__title--bottom {
    margin-top: -34px; }
  .advantages__title--right-bottom {
    margin-top: -19px;
    margin-left: -12px;
    margin-bottom: 6px; }

.advantages__text {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  max-width: 483px;
  font-style: normal;
  font-weight: 400;
  margin-left: 42px;
  margin-right: 20px; }
  .advantages__text--bottom {
    margin-top: -1px; }
  .advantages__text--right-tablet {
    padding-bottom: 40px; }

.advantages__span {
  padding-left: 10px; }

.advantages__item:hover .advantages__text {
  color: #ffffff; }

.advantages__item:hover {
  background: #00b2ff; }

.advantages__item:hover .advantages__title {
  color: #ffffff; }

.advantages__item-icon {
  fill: #00b2ff;
  position: relative;
  top: -28px;
  right: -41px; }
  .advantages__item-icon--heat {
    top: -62px; }
  .advantages__item-icon--sells {
    top: -47px; }

.advantages__item:hover svg {
  fill: #ffffff; }

@media (max-width: 1800px) {
  .advantages__list {
    margin-left: 2%; } }

@media (max-width: 1023px) {
  .advantages__item {
    width: 316px;
    padding-left: 25px;
    margin: 0 30px 30px 0; }
    .advantages__item--tablet {
      margin-right: 0; }
    .advantages__item--tablet-bottom {
      height: 233px; }
  .advantages__span {
    display: none; }
  .advantages__container {
    padding-bottom: 29px; }
  .advantages__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 48px 0 0 0; }
    .advantages__list::before {
      display: none; }
    .advantages__list::after {
      display: none; }
  .advantages__text {
    width: 100%;
    max-width: 291px;
    margin-left: 2px;
    margin-top: 1px;
    padding-left: 0; }
    .advantages__text--right-tablet {
      padding-bottom: 0; }
  .advantages__content-block {
    padding-top: 40px;
    padding-bottom: 40px; }
    .advantages__content-block--bottom {
      padding-top: 61px; }
    .advantages__content-block--bottom-right {
      padding-top: 43px; }
    .advantages__content-block--top {
      padding-top: 19px;
      padding-bottom: 17px; }
  .advantages__item-icon {
    top: -17px;
    right: -2px; }
    .advantages__item-icon--heat {
      width: 36px;
      height: 31px;
      top: -40px;
      right: 0; }
    .advantages__item-icon--sells {
      width: 35px;
      height: 35px;
      top: -20px; }
    .advantages__item-icon--right-tablet {
      width: 32px;
      height: 32px;
      top: 0; }
  .advantages__title {
    margin-left: 2px;
    position: relative;
    top: -14px;
    margin-bottom: -6px;
    padding-left: 0; }
    .advantages__title--right-tablet {
      margin-top: 24px;
      margin-bottom: -7px; }
    .advantages__title--right-bottom {
      margin-bottom: -5px;
      margin-top: 0; }
    .advantages__title--bottom {
      margin-top: -17px;
      margin-bottom: 0; } }

@media (max-width: 767px) {
  .advantages__item {
    width: 260px;
    padding-left: 25px;
    margin-left: 14px;
    margin-bottom: 19px; }
  .advantages__title {
    font-size: 20px;
    top: 7px;
    margin-bottom: 17px;
    line-height: 140.62%; }
    .advantages__title--right-tablet {
      margin-top: 2px; }
    .advantages__title--bottom {
      width: 243px;
      top: -3px;
      margin-bottom: 8px; }
  .advantages__text {
    width: 249px; }
    .advantages__text--mobail {
      width: 265px; }
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 320px;
    margin: 28px auto 0; }
  .advantages__container {
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 31px; }
  .advantages__item-icon {
    top: -1px; }
    .advantages__item-icon--sells {
      top: -2px; }
    .advantages__item-icon--heat {
      top: -22px; }
  .advantages__content-block {
    padding-top: 27px;
    padding-bottom: 22px; }
    .advantages__content-block--top {
      padding-top: 27px;
      padding-bottom: 22px; }
    .advantages__content-block--bottom {
      padding-top: 48px; }
    .advantages__content-block--bottom-right {
      padding-top: 21px;
      padding-bottom: 23px; } }

.information__title {
  font-size: 36px;
  line-height: 51px;
  color: #666666;
  margin-bottom: 17px;
  margin-left: 5px; }

.information__text {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  width: 100%;
  max-width: 984px;
  margin-left: 3px; }
  .information__text--two {
    margin-top: 20px;
    margin-bottom: 50px; }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 99px;
  max-width: 1200px; }

.information__container {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .information__container::before {
    content: "";
    position: absolute;
    width: 640px;
    height: 640px;
    left: -468px;
    top: -330px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/back-big-polygon.svg");
    background-repeat: no-repeat; }

.information__link {
  font-weight: bold;
  width: 155px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 5px;
  color: #00b2ff;
  border: 2px solid #00b2ff;
  padding: 14px 48px;
  margin-left: 8px; }
  .information__link:hover {
    color: black;
    border: 2px solid black; }

.information__img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  position: relative;
  left: -17px; }

.information__text-block {
  padding-bottom: 20px;
  margin-left: -36px;
  z-index: 1; }

.information__tablet {
  display: none; }

@media (max-width: 1023px) {
  .information__text {
    width: 531px;
    margin-right: 29px; }
    .information__text--two {
      margin-top: 20px;
      margin-bottom: 53px; }
  .information__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-left: 0;
    margin-top: -6px;
    line-height: 140.62%;
    margin-bottom: 25px; }
  .information__disabled {
    display: none; }
  .information__tablet {
    display: inline-block; }
  .information__img {
    width: 242px;
    height: 363px;
    left: -2px;
    top: -7px; }
  .information__link {
    padding: 14px 48px;
    margin-left: 4px; }
  .information {
    margin: 0 auto 67px; }
  .information__text-block {
    margin-left: -31px; } }

@media (max-width: 767px) {
  .information__img {
    display: none; }
  .information__text-block {
    margin-left: 17px; }
  .information__container {
    margin-left: 5px; }
  .information__title {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 140.62%;
    margin-top: 11px;
    margin-left: -7px;
    margin-bottom: 20px; }
  .information__text {
    width: 294px;
    margin-left: -5px; }
    .information__text--two {
      margin-top: 40px;
      margin-bottom: 40px; }
  .information__link {
    padding: 14px 51px;
    margin-left: -5px;
    text-transform: uppercase; }
  .information {
    max-width: 320px;
    margin: 0 auto 59px; } }

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 100%;
  max-width: 1203px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%; }

.tabs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px; }

.tabs {
  background: #1b2d37; }

.tabs__item {
  position: relative;
  margin-top: 61px;
  width: 33.3333%; }

.tabs__item-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  position: relative;
  top: -573px;
  left: 69px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  z-index: 100;
  width: 225px; }
  .tabs__item-title--two {
    left: 66px; }
  .tabs__item-title--tree {
    left: 68px; }

.tabs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  z-index: 200;
  padding-top: 86px;
  margin-bottom: -24px;
  margin-left: 15px; }

.tabs__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1183px; }

.tabs__img-block {
  max-width: 370px;
  height: 620px;
  position: relative; }
  .tabs__img-block--first-tab {
    background: url("../img/tab1-desktop-opacity.png");
    background-repeat: no-repeat;
    margin-left: 23px; }
  .tabs__img-block--two-tab {
    background: url("../img/tab2-desktop-opavity.png");
    background-repeat: no-repeat; }
  .tabs__img-block--tree-tab {
    background: url("../img/tab-desktop-test.png");
    background-repeat: no-repeat;
    margin-right: 10px; }
  .tabs__img-block--center {
    margin-left: 22px; }
  .tabs__img-block--last {
    margin-left: 24px;
    margin-right: 10px; }
  .tabs__img-block:hover {
    opacity: 0.2; }

.tabs__item:hover .tabs__item-title {
  opacity: 0.2; }

.tabs__block-before {
  position: relative; }
  .tabs__block-before::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    right: 1px;
    bottom: -619px;
    z-index: 301;
    background: #00b2ff;
    cursor: pointer; }

.tabs__block-marker {
  position: relative;
  z-index: 620; }
  .tabs__block-marker::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #ffffff;
    right: 27px;
    bottom: -591px;
    z-index: 350; }
  .tabs__block-marker::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    right: 27px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #ffffff;
    bottom: -586px;
    z-index: 350; }

@media (max-width: 1800px) {
  .tabs__img-block--first-tab {
    margin-left: 10px; } }

@media (max-width: 1023px) {
  .tabs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: -19px;
    margin-left: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0; }
  .tabs__title-block {
    width: auto; }
  .tabs__item-link {
    width: 100%;
    height: 256px; }
  .tabs__img-block {
    width: 715px;
    height: 256px;
    position: relative;
    max-width: 715px; }
    .tabs__img-block--first-tab {
      background: url("../img/tab1-tablet-opacity.png");
      margin-left: -2px; }
    .tabs__img-block--two-tab {
      background: url("../img/tab2-tablet-opacity.png");
      margin-left: -2px; }
    .tabs__img-block--tree-tab {
      background: url("../img/tab3-tablet-opacity.png");
      margin-left: -2px; }
    .tabs__img-block--last {
      margin-left: 0;
      margin-right: 0; }
  .tabs__item {
    width: auto;
    margin: 0 0 -14px; }
    .tabs__item::before {
      bottom: -2px; }
  .tabs__title {
    width: 630px;
    padding-top: 44px;
    margin: 0 0 63px -88px;
    font-size: 32px; }
  .tabs__item-title {
    top: -218px;
    left: 42px; }
    .tabs__item-title--tablet {
      top: -208px;
      left: 42px; }
  .tabs__container {
    padding-bottom: 15px; }
  .tabs__block-before {
    position: relative;
    z-index: 600; }
    .tabs__block-before::before {
      right: 0;
      bottom: -256px; }
  .tabs__block-marker::before {
    right: 23px;
    bottom: -228px; }
  .tabs__block-marker::after {
    right: 23px;
    bottom: -224px; } }

@media (max-width: 767px) {
  .tabs__title {
    width: 280px;
    font-size: 28px;
    padding-top: 50px;
    line-height: 140.62%;
    margin-left: 7px;
    margin-bottom: 59px; }
  .tabs__item-title {
    top: -235px;
    left: 36px; }
    .tabs__item-title--tablet {
      top: -225px; }
  .tabs__item {
    margin: 0 0 -30px; }
  .tabs__img {
    width: 290px;
    height: 256px; }
  .tabs__container {
    padding-bottom: 19px; }
  .tabs__img-block {
    width: 290px;
    height: 256px;
    position: relative;
    margin-left: 1px; }
    .tabs__img-block--first-tab {
      background: url("../img/tab1-mobail-opacity.png");
      margin-left: 1px; }
    .tabs__img-block--two-tab {
      background: url("../img/tab2-mobail-opacity.png");
      margin-left: 1px; }
    .tabs__img-block--tree-tab {
      background: url("../img/tab3-mobail-opacity.png");
      margin-left: 1px; }
  .tabs__block-marker::after {
    right: 27px; }
  .tabs__block-marker::before {
    right: 27px; } }

.form__container {
  background: #00b2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  max-width: 1400px;
  margin: 0 auto; }

.form {
  background: #00b2ff; }

.form__title {
  margin-left: -261px;
  margin-top: -4px; }

.form__content {
  width: 570px;
  margin-left: -220px; }

.form__block {
  width: 40%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__block::before {
    content: "";
    position: absolute;
    width: 300px;
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    right: -338px;
    top: 209px;
    height: 300px;
    background: url("../img/back-polygon.svg");
    background-repeat: no-repeat;
    opacity: 0.2; }
  .form__block::after {
    content: "";
    position: absolute;
    width: 300px;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    right: -338px;
    top: -35px;
    height: 300px;
    background: url("../img/polygon-mini-form.svg");
    background-repeat: no-repeat; }

.form__input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49px;
  width: 100%; }
  .form__input-block::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../img/back-polygon.svg");
    z-index: 200; }

.form__check-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
  width: 47%;
  cursor: pointer; }

.form__info {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  z-index: 500;
  margin-top: 9px;
  margin-left: -478px; }

.form__input {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: deepskyblue;
  border: none;
  height: 50px;
  border-radius: 0;
  margin-bottom: 37px;
  color: #ffffff;
  width: 100%;
  padding-left: 15px; }
  .form__input--right {
    margin-right: 34px; }
  .form__input:invalid {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .form__input::-webkit-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    -webkit-transform: translateY(-10px) translateY(50%);
            transform: translateY(-10px) translateY(50%); }
  .form__input::-moz-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translateY(-10px) translateY(50%); }
  .form__input:-ms-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translateY(-10px) translateY(50%); }
  .form__input::-ms-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translateY(-10px) translateY(50%); }
  .form__input::placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    -webkit-transform: translateY(-10px) translateY(50%);
            transform: translateY(-10px) translateY(50%); }

input:invalid::-moz-focus-inner {
  border: 0; }

.form__textarea {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background: deepskyblue;
  border: none;
  border-radius: 0;
  width: 551px;
  height: 141px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 15px;
  overflow: hidden;
  resize: none; }
  .form__textarea::-webkit-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    -webkit-transform: translateY(-11px) translateY(50%);
            transform: translateY(-11px) translateY(50%); }
  .form__textarea::-moz-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transform: translateY(-11px) translateY(50%); }
  .form__textarea:-ms-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transform: translateY(-11px) translateY(50%); }
  .form__textarea::-ms-input-placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    transform: translateY(-11px) translateY(50%); }
  .form__textarea::placeholder {
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    -webkit-transform: translateY(-11px) translateY(50%);
            transform: translateY(-11px) translateY(50%); }

.form__submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 270px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #00b2ff;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-right: 14px;
  border-radius: 5px;
  cursor: pointer; }
  .form__submit:hover {
    color: black;
    border: 2px solid black; }

.form__submit-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  margin-top: 22px;
  padding-bottom: 97px; }

.form__checkbox-text {
  width: 263px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.form__checkbox {
  margin-right: 20px;
  border: 1px solid #ffffff;
  background: #00b2ff;
  display: none; }

.form__label {
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
  vertical-align: middle;
  padding-top: 15px;
  cursor: pointer; }

.form__label::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #e3e3e3;
  -o-border-image: initial;
     border-image: initial;
  vertical-align: middle; }
  .form__label::before:hover {
    border: 1px solid black; }

.form__checkbox:checked + .form__label::before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: center; }

.form__img {
  margin-top: 64px;
  margin-right: 236px;
  z-index: 100;
  width: 100%;
  max-width: 511px;
  background-image: url("../img/airplane.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px; }

.form__img-block {
  position: relative;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .form__img-block::before {
    content: "";
    position: absolute;
    width: 689px;
    top: -153px;
    height: 650px;
    left: -76px;
    background-image: url("../img/Group 18.svg"); }

input[type=text] {
  -webkit-appearance: none; }

@media (max-width: 1023px) {
  .form__img {
    display: none; }
  .form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form__block {
    margin-right: 0;
    width: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .form__title {
    margin-top: -16px;
    margin-left: -19px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%; }
  .form__info {
    margin-top: 16px;
    margin-left: -16px; }
  .form__content {
    margin-left: -15px; }
  .form__input {
    width: 262px;
    margin-bottom: 42px; }
  .form__textarea {
    width: 568px;
    height: 144px;
    padding-left: 16px;
    padding-top: 11px; }
  .form__submit-block {
    margin-top: 26px;
    padding-bottom: 87px; }
  .form__input-block {
    margin-top: 53px;
    width: 592px; }
  .form__submit {
    width: 279px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 14px;
    margin-left: 1px;
    padding-bottom: 15px;
    border-radius: 5px; }
  .form__img-block {
    position: relative; }
    .form__img-block::before {
      display: none; }
  .form__check-block {
    width: 44%; } }

input::-webkit-input-placeholder {
  margin-left: -5px; }

input::-moz-placeholder {
  margin-left: -5px; }

input:-ms-input-placeholder {
  margin-left: -5px; }

input::-ms-input-placeholder {
  margin-left: -5px; }

input::placeholder {
  margin-left: -5px; }

label {
  padding-top: 14px; }

@media (max-width: 767px) {
  .form__input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 23px; }
  .form__check-text {
    margin-top: 4px; }
  .form__label {
    padding: 15px 0 13px; }
  .form__textarea {
    width: 270px;
    height: 89px;
    padding-top: 16px; }
  .form__submit-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 16px;
    margin-top: 16px; }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form__input {
    margin: 0 0 16px;
    width: 274px;
    line-height: 22px; }
  .form__submit {
    width: 288px;
    margin: 0; }
  .form__check-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 5px;
    margin-top: 7px;
    width: auto; }
  .form__title {
    width: 310px;
    font-size: 28px;
    line-height: 140.62%;
    margin-top: -13px;
    margin-left: 142px; }
  .form__info {
    width: 238px;
    margin-top: 14px;
    margin-left: 141px;
    margin-right: 0; }
  .from__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form__container {
    padding-top: 42px; }
  .form__content {
    margin-left: 0; } }

.footer__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #203c42;
  position: relative;
  left: 3px;
  top: 10px;
  width: 165px; }

.footer__item-icon {
  fill: #cdcdcd; }
  .footer__item-icon:hover {
    fill: #000000; }

.footer__title-info {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  margin-top: 12px;
  margin-left: 4px; }

.footer__social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -41px;
  top: 34px; }

.footer__social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto 29px; }

.footer__social {
  margin-top: 60px;
  margin-left: 39px;
  margin-right: 0; }

.footer__social-item {
  margin-right: 16px; }

.footer__title-block {
  margin-left: 16px; }

.footer__social-disabled-item {
  display: none; }

.footer__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -17px;
  width: 1022px;
  margin-left: 71px; }

.footer__site-list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 124px;
  margin: 25px auto 9px 1px; }

.footer__site-text {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37; }

.footer__site-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #1b2d37;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -13px;
  margin-top: 21px;
  padding-left: 5px;
  pointer-events: none;
  letter-spacing: 0.05em; }

.footer__site-item {
  margin-top: 1px;
  margin-right: 10px; }

.footer__site {
  margin-top: 50px;
  width: 100%;
  max-width: 510px; }

.footer__office-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px; }

.footer__office-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-left: -10px;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  pointer-events: none;
  color: #1b2d37; }

.footer__office-link {
  font-family: "PtMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #1b2d37; }

.footer__office {
  position: relative;
  margin-top: 54px;
  width: 350px;
  margin-right: 12px; }

.footer__bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #626962;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__bottom-list {
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px; }

.footer__bottom-item {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5; }
  .footer__bottom-item--last {
    width: 233px;
    margin-right: 15px; }
  .footer__bottom-item--margin {
    margin-right: 66px; }

.footer__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 885px;
  margin-left: 34px; }

@media (max-width: 1023px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 22px;
    border-bottom: 1px solid #666666;
    padding-bottom: 5px;
    margin-left: 0; }
  .footer__social-logo {
    margin-left: -6px;
    margin-top: -19px; }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0; }
  .footer__link-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-bottom: 28px;
    margin-right: 109px; }
  .footer__social-disabled-item {
    display: inline-block;
    font-family: "PtMono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    left: 59px;
    top: -7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: -2px;
    margin-left: -56px;
    color: #1b2d37; }
  .footer__social-list {
    top: -9px;
    left: 27px; }
  .footer__title {
    left: 0;
    top: 5px; }
  .footer__title-info {
    margin-left: 2px;
    margin-top: 4px; }
  .footer__site-list {
    height: auto;
    margin-left: -9px;
    margin-top: -2px; }
  .footer__site-title {
    margin-bottom: 17px;
    margin-left: -11px;
    margin-top: -13px; }
  .footer__site {
    margin-right: 0;
    margin-top: 56px;
    margin-left: -7px;
    width: auto;
    max-width: 770px; }
  .footer__site-item {
    margin-right: 0;
    margin-bottom: -1px; }
  .footer__office {
    position: relative;
    top: -28px;
    left: 141px;
    margin-left: 0; }
  .footer__office-list {
    margin-top: 11px; }
  .footer__office-title {
    margin-left: -8px; }
  .footer__bottom-item {
    margin-right: -17px;
    margin-left: -7px; }
    .footer__bottom-item--disabled {
      display: none; }
  .footer__bottom-list {
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0; }
  .footer__bottom-container {
    width: auto; } }

@media (max-width: 767px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 67px 0 0;
    border-bottom: none;
    padding-bottom: 43px; }
  .footer__link-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 32px; }
  .footer__title-block {
    margin-left: 9px; }
  .footer__social-disabled-item {
    margin-top: 32px;
    margin-left: -1px;
    left: 0; }
  .footer__social-list {
    left: -13px;
    top: 4px; }
  .footer__social-logo {
    margin-left: 13px; }
  .footer__title-info {
    margin-top: 7px;
    margin-left: 6px; }
  .footer__title {
    left: 7px; }
  .footer__site-list {
    display: none;
    margin-left: 0;
    padding-left: 15px;
    padding-bottom: 20px; }
  .footer__site {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 0;
    padding-bottom: 20px;
    width: 100%;
    max-width: 770px; }
  .footer__site-title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: 0;
    border-top: 1px solid #626962;
    padding-top: 30px;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    pointer-events: auto;
    margin-bottom: 0;
    padding-bottom: 13px; }
    .footer__site-title::before {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      top: 37px;
      right: 17px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .footer__site-title::after {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      top: 37px;
      right: 17px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .footer__site-title.active::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .footer__office-list {
    display: none;
    padding-left: 16px;
    margin-top: 65px;
    width: 200px;
    margin-bottom: -34px; }
  .footer__office {
    margin-top: 0;
    margin-left: 0;
    width: auto;
    margin-right: 0;
    left: 0; }
  .footer__office-title {
    padding-top: 28px;
    border-top: 1px solid #626962;
    position: relative;
    padding-left: 22px;
    pointer-events: auto;
    margin-top: -12px;
    padding-bottom: 20px;
    top: 35px;
    margin-bottom: -19px; }
    .footer__office-title::before {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      top: 35px;
      right: 17px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .footer__office-title::after {
      content: "";
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
      position: absolute;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      top: 35px;
      right: 17px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .footer__office-title.active::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .footer__bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 31px; }
  .footer__bottom-item {
    margin-right: 4px;
    margin-left: -27px; }
    .footer__bottom-item--mobail {
      margin-top: 21px;
      margin-left: 45px; } }

.popup-fade {
  display: none; }

.popup-fade::before {
  content: "";
  background: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999; }

.popup {
  position: fixed;
  top: 15%;
  left: 47%;
  width: 451px;
  margin-left: -186px;
  background: #00b2ff;
  outline: none;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 9px 16px 30px; }

.popup-close {
  position: absolute;
  top: 15px;
  right: 18px;
  padding: 10px; }
  .popup-close::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ffffff;
    top: 12px;
    right: 2px; }
  .popup-close::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 2px;
    width: 23px;
    height: 1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ffffff; }

.popup__block {
  max-width: 412px;
  width: 100%; }

.popup__input {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #60c4ff;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 388px;
  padding-left: 25px;
  margin-bottom: 30px; }
  .popup__input:invalid {
    -webkit-box-shadow: none;
            box-shadow: none; }

.popup__textarea {
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: #60c4ff;
  border: none;
  padding-top: 14px;
  height: 88px;
  width: 387px;
  padding-left: 25px;
  color: #ffffff;
  overflow: hidden; }

.popup__submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: #00b2ff;
  border-radius: 5px;
  padding: 15px 25px;
  width: 411px;
  color: #ffffff;
  margin-top: 24px;
  margin-right: 26px;
  cursor: pointer; }

.popup__check-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  margin-left: -71px;
  margin-top: 18px; }

.popup__info {
  width: 382px;
  text-align: left;
  margin-right: 53px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 32px; }

.popup__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin-right: 234px;
  margin-top: 10px; }

.popup__checkbox-text {
  width: 317px;
  font-family: "PtMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 13px;
  margin-top: -6px; }

.popup__bottom-margin {
  margin-left: 8px; }

.popup__checkbox {
  display: none; }

.popup__label {
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
  vertical-align: middle; }

.popup__label::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #e3e3e3;
  -o-border-image: initial;
     border-image: initial;
  vertical-align: middle; }

.popup__checkbox:checked + .popup__label::before {
  content: "";
  height: 16px;
  width: 16px;
  background: url("../img/chek1.svg");
  background-repeat: no-repeat;
  background-size: 8px 5px;
  background-position: center; }

body.popup {
  overflow: hidden; }

input[type=text], input[type=submit], textarea {
  -webkit-appearance: none; }

@media (max-width: 1023px) {
  .popup {
    display: none; } }
