%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow__rev {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-arrow__rev-dims {
	width: 46px;
	height: 46px;
}

.svg-avatar {
	@extend %svg-common;
	background-position: 85.71428571428571% 71.19565217391305%;
}

.svg-avatar-dims {
	width: 15px;
	height: 18px;
}

.svg-calc__img1 {
	@extend %svg-common;
	background-position: 64.03940886699507% 0;
}

.svg-calc__img1-dims {
	width: 64px;
	height: 80px;
}

.svg-calc__img2 {
	@extend %svg-common;
	background-position: 0 62.295081967213115%;
}

.svg-calc__img2-dims {
	width: 115px;
	height: 80px;
}

.svg-calc__img4 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-calc__img4-dims {
	width: 130px;
	height: 76px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 45.45454545454545% 67.02127659574468%;
}

.svg-calendar-dims {
	width: 14px;
	height: 14px;
}

.svg-car {
	@extend %svg-common;
	background-position: 99.57446808510639% 18.75%;
}

.svg-car-dims {
	width: 32px;
	height: 26px;
}

.svg-circle {
	@extend %svg-common;
	background-position: 51.80722891566265% 84.78260869565217%;
}

.svg-circle-dims {
	width: 18px;
	height: 18px;
}

.svg-cup {
	@extend %svg-common;
	background-position: 81.85654008438819% 57.2289156626506%;
}

.svg-cup-dims {
	width: 30px;
	height: 36px;
}

.svg-door {
	@extend %svg-common;
	background-position: 59.036144578313255% 84.32432432432432%;
}

.svg-door-dims {
	width: 18px;
	height: 17px;
}

.svg-door-menu {
	@extend %svg-common;
	background-position: 85.46255506607929% 0;
}

.svg-door-menu-dims {
	width: 40px;
	height: 57px;
}

.svg-flower {
	@extend %svg-common;
	background-position: 97.5% 52.325581395348834%;
}

.svg-flower-dims {
	width: 27px;
	height: 30px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 66% 84.32432432432432%;
}

.svg-inst-dims {
	width: 17px;
	height: 17px;
}

.svg-key {
	@extend %svg-common;
	background-position: 18.473895582329316% 100%;
}

.svg-key-dims {
	width: 18px;
	height: 18px;
}

.svg-lock {
	@extend %svg-common;
	background-position: 96.29629629629629% 69.76744186046511%;
}

.svg-lock-dims {
	width: 24px;
	height: 30px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 44.354838709677416% 84.78260869565217%;
}

.svg-mail-dims {
	width: 19px;
	height: 18px;
}

.svg-many {
	@extend %svg-common;
	background-position: 99.57446808510639% 34.50292397660819%;
}

.svg-many-dims {
	width: 32px;
	height: 31px;
}

.svg-mark {
	@extend %svg-common;
	background-position: 45.45454545454545% 50.810810810810814%;
}

.svg-mark-dims {
	width: 14px;
	height: 17px;
}

.svg-marker {
	@extend %svg-common;
	background-position: 45.09803921568628% 59.35828877005348%;
}

.svg-marker-dims {
	width: 12px;
	height: 15px;
}

.svg-mastercard {
	@extend %svg-common;
	background-position: 20.62780269058296% 89.65517241379311%;
}

.svg-mastercard-dims {
	width: 44px;
	height: 28px;
}

.svg-mini-win1 {
	@extend %svg-common;
	background-position: 36.43724696356275% 85.71428571428571%;
}

.svg-mini-win1-dims {
	width: 20px;
	height: 20px;
}

.svg-pdf {
	@extend %svg-common;
	background-position: 97.90794979079497% 86.20689655172414%;
}

.svg-pdf-dims {
	width: 28px;
	height: 28px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 84.34782608695652% 34.75609756097561%;
}

.svg-pen-dims {
	width: 37px;
	height: 38px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 45.09803921568628% 41.30434782608695%;
}

.svg-phone-dims {
	width: 12px;
	height: 18px;
}

.svg-pint {
	@extend %svg-common;
	background-position: 95.51020408163265% 95.6989247311828%;
}

.svg-pint-dims {
	width: 22px;
	height: 16px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 45.45454545454545% 74.46808510638297%;
}

.svg-plus-dims {
	width: 14px;
	height: 14px;
}

.svg-san {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-san-dims {
	width: 33px;
	height: 33px;
}

.svg-star {
	@extend %svg-common;
	background-position: 79.18367346938776% 71.97802197802197%;
}

.svg-star-dims {
	width: 22px;
	height: 20px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 72.8% 84.32432432432432%;
}

.svg-tg-dims {
	width: 17px;
	height: 17px;
}

.svg-time {
	@extend %svg-common;
	background-position: 86.05577689243027% 83.87096774193549%;
}

.svg-time-dims {
	width: 16px;
	height: 16px;
}

.svg-viber {
	@extend %svg-common;
	background-position: 79.6% 84.32432432432432%;
}

.svg-viber-dims {
	width: 17px;
	height: 17px;
}

.svg-whatsapp {
	@extend %svg-common;
	background-position: 25.49800796812749% 98.9247311827957%;
}

.svg-whatsapp-dims {
	width: 16px;
	height: 16px;
}

.svg-window {
	@extend %svg-common;
	background-position: 31.872509960159363% 98.9247311827957%;
}

.svg-window-dims {
	width: 16px;
	height: 16px;
}

.svg-window-calc {
	@extend %svg-common;
	background-position: 61.611374407582936% 62.5%;
}

.svg-window-calc-dims {
	width: 56px;
	height: 74px;
}

