%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow__rev {
	@extend %svg-common;
	background-position: 77.5% 0;
}

.svg-arrow__rev-dims {
	width: 46px;
	height: 46px;
}

.svg-avatar {
	@extend %svg-common;
	background-position: 62.16216216216216% 74.76635514018692%;
}

.svg-avatar-dims {
	width: 15px;
	height: 18px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 68.75% 97.29729729729729%;
}

.svg-calendar-dims {
	width: 14px;
	height: 14px;
}

.svg-circle {
	@extend %svg-common;
	background-position: 77.77777777777777% 74.76635514018692%;
}

.svg-circle-dims {
	width: 18px;
	height: 18px;
}

.svg-door {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-door-dims {
	width: 18px;
	height: 17px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 99.08256880733946% 49.074074074074076%;
}

.svg-inst-dims {
	width: 17px;
	height: 17px;
}

.svg-key {
	@extend %svg-common;
	background-position: 100% 15.88785046728972%;
}

.svg-key-dims {
	width: 18px;
	height: 18px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 46.728971962616825% 74.76635514018692%;
}

.svg-mail-dims {
	width: 19px;
	height: 18px;
}

.svg-mark {
	@extend %svg-common;
	background-position: 96.42857142857143% 64.81481481481481%;
}

.svg-mark-dims {
	width: 14px;
	height: 17px;
}

.svg-marker {
	@extend %svg-common;
	background-position: 57.01754385964912% 98.18181818181819%;
}

.svg-marker-dims {
	width: 12px;
	height: 15px;
}

.svg-mastercard {
	@extend %svg-common;
	background-position: 75.60975609756098% 47.422680412371136%;
}

.svg-mastercard-dims {
	width: 44px;
	height: 28px;
}

.svg-pdf {
	@extend %svg-common;
	background-position: 0 82.47422680412372%;
}

.svg-pdf-dims {
	width: 28px;
	height: 28px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 94.73684210526316% 32.71028037383178%;
}

.svg-phone-dims {
	width: 12px;
	height: 18px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 81.25% 97.29729729729729%;
}

.svg-plus-dims {
	width: 14px;
	height: 14px;
}

.svg-star {
	@extend %svg-common;
	background-position: 26.923076923076923% 76.19047619047619%;
}

.svg-star-dims {
	width: 22px;
	height: 20px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 99.08256880733946% 80.55555555555556%;
}

.svg-tg-dims {
	width: 17px;
	height: 17px;
}

.svg-time {
	@extend %svg-common;
	background-position: 15.454545454545455% 99.08256880733946%;
}

.svg-time-dims {
	width: 16px;
	height: 16px;
}

.svg-viber {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-viber-dims {
	width: 17px;
	height: 17px;
}

.svg-whatsapp {
	@extend %svg-common;
	background-position: 30% 99.08256880733946%;
}

.svg-whatsapp-dims {
	width: 16px;
	height: 16px;
}

.svg-window {
	@extend %svg-common;
	background-position: 44.54545454545455% 99.08256880733946%;
}

.svg-window-dims {
	width: 16px;
	height: 16px;
}

.svg-window-calc1 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-window-calc1-dims {
	width: 62px;
	height: 80px;
}

