%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-arrow__rev {
	@extend %svg-common;
	background-position: 0 83.33333333333333%;
}

.svg-arrow__rev-dims {
	width: 46px;
	height: 46px;
}

.svg-avatar {
	@extend %svg-common;
	background-position: 94.73684210526316% 30.64516129032258%;
}

.svg-avatar-dims {
	width: 15px;
	height: 18px;
}

.svg-calc__img1 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-calc__img1-dims {
	width: 64px;
	height: 80px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 32.83582089552239% 98.4375%;
}

.svg-calendar-dims {
	width: 14px;
	height: 14px;
}

.svg-circle {
	@extend %svg-common;
	background-position: 96.92307692307692% 45.16129032258065%;
}

.svg-circle-dims {
	width: 18px;
	height: 18px;
}

.svg-door {
	@extend %svg-common;
	background-position: 96.92307692307692% 59.2%;
}

.svg-door-dims {
	width: 18px;
	height: 17px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 96.18320610687023% 87.2%;
}

.svg-inst-dims {
	width: 17px;
	height: 17px;
}

.svg-key {
	@extend %svg-common;
	background-position: 96.92307692307692% 73.38709677419355%;
}

.svg-key-dims {
	width: 18px;
	height: 18px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 97.67441860465117% 16.129032258064516%;
}

.svg-mail-dims {
	width: 19px;
	height: 18px;
}

.svg-mark {
	@extend %svg-common;
	background-position: 43.28358208955224% 86.4%;
}

.svg-mark-dims {
	width: 14px;
	height: 17px;
}

.svg-marker {
	@extend %svg-common;
	background-position: 23.529411764705884% 99.21259842519684%;
}

.svg-marker-dims {
	width: 12px;
	height: 15px;
}

.svg-mastercard {
	@extend %svg-common;
	background-position: 44.23076923076923% 70.17543859649123%;
}

.svg-mastercard-dims {
	width: 44px;
	height: 28px;
}

.svg-pdf {
	@extend %svg-common;
	background-position: 75% 70.17543859649123%;
}

.svg-pdf-dims {
	width: 28px;
	height: 28px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 33.8235294117647% 87.09677419354838%;
}

.svg-phone-dims {
	width: 12px;
	height: 18px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 43.28358208955224% 98.4375%;
}

.svg-plus-dims {
	width: 14px;
	height: 14px;
}

.svg-star {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-star-dims {
	width: 22px;
	height: 20px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 54.961832061068705% 86.4%;
}

.svg-tg-dims {
	width: 17px;
	height: 17px;
}

.svg-time {
	@extend %svg-common;
	background-position: 80.3030303030303% 85.71428571428571%;
}

.svg-time-dims {
	width: 16px;
	height: 16px;
}

.svg-viber {
	@extend %svg-common;
	background-position: 67.93893129770993% 86.4%;
}

.svg-viber-dims {
	width: 17px;
	height: 17px;
}

.svg-whatsapp {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-whatsapp-dims {
	width: 16px;
	height: 16px;
}

.svg-window {
	@extend %svg-common;
	background-position: 12.121212121212121% 100%;
}

.svg-window-dims {
	width: 16px;
	height: 16px;
}

.svg-window-calc1 {
	@extend %svg-common;
	background-position: 74.4186046511628% 0;
}

.svg-window-calc1-dims {
	width: 62px;
	height: 80px;
}

