%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-eye {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-eye-dims {
	width: 22px;
	height: 18px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 49.12280701754386% 80%;
}

.svg-fb-dims {
	width: 9px;
	height: 19px;
}

.svg-r {
	@extend %svg-common;
	background-position: 88.88888888888889% 77.27272727272727%;
}

.svg-r-dims {
	width: 12px;
	height: 12px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-tg-dims {
	width: 18px;
	height: 17px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 60.869565217391305% 0;
}

.svg-vk-dims {
	width: 20px;
	height: 12px;
}

.svg-w {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-w-dims {
	width: 28px;
	height: 16px;
}

