%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-about1 {
	@extend %svg-common;
	background-position: 38.8235294117647% 0;
}

.svg-about1-dims {
	width: 103px;
	height: 168px;
}

.svg-about2 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-about2-dims {
	width: 140px;
	height: 141px;
}

.svg-about3 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-about3-dims {
	width: 156px;
	height: 121px;
}

.svg-about4 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-about4-dims {
	width: 99px;
	height: 173px;
}

.svg-arrow-black {
	@extend %svg-common;
	background-position: 96.996996996997% 41.86851211072664%;
}

.svg-arrow-black-dims {
	width: 25px;
	height: 25px;
}

.svg-arrow-cat {
	@extend %svg-common;
	background-position: 70.23121387283237% 68.54304635761589%;
}

.svg-arrow-cat-dims {
	width: 12px;
	height: 12px;
}

.svg-basket {
	@extend %svg-common;
	background-position: 92.4198250728863% 57.85953177257525%;
}

.svg-basket-dims {
	width: 15px;
	height: 15px;
}

.svg-cart {
	@extend %svg-common;
	background-position: 82.6470588235294% 58.445945945945944%;
}

.svg-cart-dims {
	width: 18px;
	height: 18px;
}

.svg-cart-null {
	@extend %svg-common;
	background-position: 47.138047138047135% 69.47791164658635%;
}

.svg-cart-null-dims {
	width: 61px;
	height: 65px;
}

.svg-close-white {
	@extend %svg-common;
	background-position: 100% 57.666666666666664%;
}

.svg-close-white-dims {
	width: 14px;
	height: 14px;
}

.svg-com {
	@extend %svg-common;
	background-position: 71.68141592920354% 58.644067796610166%;
}

.svg-com-dims {
	width: 19px;
	height: 19px;
}

.svg-comment {
	@extend %svg-common;
	background-position: 77.28613569321534% 58.644067796610166%;
}

.svg-comment-dims {
	width: 19px;
	height: 19px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 99.14529914529915% 40.468227424749166%;
}

.svg-fb-dims {
	width: 7px;
	height: 15px;
}

.svg-info {
	@extend %svg-common;
	background-position: 65.97633136094674% 58.843537414965986%;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 58.43023255813954% 69%;
}

.svg-inst-dims {
	width: 14px;
	height: 14px;
}

.svg-modal-check-big {
	@extend %svg-common;
	background-position: 72.92418772563177% 44.98141263940521%;
}

.svg-modal-check-big-dims {
	width: 81px;
	height: 45px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 87.94117647058823% 58.445945945945944%;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-product-img {
	@extend %svg-common;
	background-position: 88.99371069182389% 44.160583941605836%;
}

.svg-product-img-dims {
	width: 40px;
	height: 40px;
}

.svg-profile {
	@extend %svg-common;
	background-position: 95.95375722543352% 57.85953177257525%;
}

.svg-profile-dims {
	width: 12px;
	height: 15px;
}

.svg-question {
	@extend %svg-common;
	background-position: 98.86363636363636% 44.73684210526316%;
}

.svg-question-dims {
	width: 6px;
	height: 10px;
}

.svg-search {
	@extend %svg-common;
	background-position: 62.5% 69%;
}

.svg-search-dims {
	width: 14px;
	height: 14px;
}

.svg-speaker {
	@extend %svg-common;
	background-position: 59.82142857142857% 59.24657534246575%;
}

.svg-speaker-dims {
	width: 22px;
	height: 22px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 66.56976744186046% 68.77076411960132%;
}

.svg-tg-dims {
	width: 14px;
	height: 13px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 58.60058309037901% 64.56953642384106%;
}

.svg-tw-dims {
	width: 15px;
	height: 12px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 94.44444444444444% 47.868852459016395%;
}

.svg-vk-dims {
	width: 16px;
	height: 9px;
}

.svg-ytube {
	@extend %svg-common;
	background-position: 62.7906976744186% 64.14473684210526%;
}

.svg-ytube-dims {
	width: 14px;
	height: 10px;
}

