%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-about1 {
	@extend %svg-common;
	background-position: 38.8235294117647% 0;
}

.svg-about1-dims {
	width: 103px;
	height: 168px;
}

.svg-about2 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-about2-dims {
	width: 140px;
	height: 141px;
}

.svg-about3 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-about3-dims {
	width: 156px;
	height: 121px;
}

.svg-about4 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-about4-dims {
	width: 99px;
	height: 173px;
}

.svg-basket {
	@extend %svg-common;
	background-position: 58.89212827988338% 47.15719063545151%;
}

.svg-basket-dims {
	width: 15px;
	height: 15px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 61.82336182336182% 47.15719063545151%;
}

.svg-fb-dims {
	width: 7px;
	height: 15px;
}

.svg-info {
	@extend %svg-common;
	background-position: 59.76331360946745% 41.156462585034014%;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 58.72093023255814% 52%;
}

.svg-inst-dims {
	width: 14px;
	height: 14px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 65.29411764705883% 40.87837837837838%;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-profile {
	@extend %svg-common;
	background-position: 64.73988439306359% 47.15719063545151%;
}

.svg-profile-dims {
	width: 12px;
	height: 15px;
}

.svg-question {
	@extend %svg-common;
	background-position: 75.2840909090909% 46.38157894736842%;
}

.svg-question-dims {
	width: 6px;
	height: 10px;
}

.svg-search {
	@extend %svg-common;
	background-position: 62.7906976744186% 52%;
}

.svg-search-dims {
	width: 14px;
	height: 14px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 66.86046511627907% 51.82724252491694%;
}

.svg-tg-dims {
	width: 14px;
	height: 13px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 68.80466472303208% 46.688741721854306%;
}

.svg-tw-dims {
	width: 15px;
	height: 12px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 70.17543859649123% 39.67213114754098%;
}

.svg-vk-dims {
	width: 16px;
	height: 9px;
}

.svg-ytube {
	@extend %svg-common;
	background-position: 72.96511627906976% 46.38157894736842%;
}

.svg-ytube-dims {
	width: 14px;
	height: 10px;
}

