%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-about1 {
	@extend %svg-common;
	background-position: 38.8235294117647% 0;
}

.svg-about1-dims {
	width: 103px;
	height: 168px;
}

.svg-about2 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-about2-dims {
	width: 140px;
	height: 141px;
}

.svg-about3 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-about3-dims {
	width: 156px;
	height: 121px;
}

.svg-about4 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-about4-dims {
	width: 99px;
	height: 173px;
}

.svg-arrow-black {
	@extend %svg-common;
	background-position: 96.996996996997% 41.86851211072664%;
}

.svg-arrow-black-dims {
	width: 25px;
	height: 25px;
}

.svg-arrow-cat {
	@extend %svg-common;
	background-position: 64.16184971098266% 79.13907284768212%;
}

.svg-arrow-cat-dims {
	width: 12px;
	height: 12px;
}

.svg-basket {
	@extend %svg-common;
	background-position: 100% 57.85953177257525%;
}

.svg-basket-dims {
	width: 15px;
	height: 15px;
}

.svg-cart {
	@extend %svg-common;
	background-position: 88.52941176470588% 65.87837837837837%;
}

.svg-cart-dims {
	width: 18px;
	height: 18px;
}

.svg-cart-log {
	@extend %svg-common;
	background-position: 98.25072886297376% 65.21739130434783%;
}

.svg-cart-log-dims {
	width: 15px;
	height: 15px;
}

.svg-cart-null {
	@extend %svg-common;
	background-position: 74.41077441077441% 69.47791164658635%;
}

.svg-cart-null-dims {
	width: 61px;
	height: 65px;
}

.svg-close-white {
	@extend %svg-common;
	background-position: 44.18604651162791% 79.66666666666667%;
}

.svg-close-white-dims {
	width: 14px;
	height: 14px;
}

.svg-com {
	@extend %svg-common;
	background-position: 95.57522123893806% 58.644067796610166%;
}

.svg-com-dims {
	width: 19px;
	height: 19px;
}

.svg-comment {
	@extend %svg-common;
	background-position: 83.1858407079646% 66.10169491525424%;
}

.svg-comment-dims {
	width: 19px;
	height: 19px;
}

.svg-fb {
	@extend %svg-common;
	background-position: 99.14529914529915% 40.468227424749166%;
}

.svg-fb-dims {
	width: 7px;
	height: 15px;
}

.svg-info {
	@extend %svg-common;
	background-position: 89.94082840236686% 58.843537414965986%;
}

.svg-info-dims {
	width: 20px;
	height: 20px;
}

.svg-inst {
	@extend %svg-common;
	background-position: 48.25581395348837% 79.66666666666667%;
}

.svg-inst-dims {
	width: 14px;
	height: 14px;
}

.svg-lk {
	@extend %svg-common;
	background-position: 52.325581395348834% 79.66666666666667%;
}

.svg-lk-dims {
	width: 14px;
	height: 14px;
}

.svg-modal-check-big {
	@extend %svg-common;
	background-position: 72.92418772563177% 44.98141263940521%;
}

.svg-modal-check-big-dims {
	width: 81px;
	height: 45px;
}

.svg-out {
	@extend %svg-common;
	background-position: 82.21574344023324% 71.33333333333333%;
}

.svg-out-dims {
	width: 15px;
	height: 14px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 93.82352941176471% 65.87837837837837%;
}

.svg-phone-dims {
	width: 18px;
	height: 18px;
}

.svg-product-img {
	@extend %svg-common;
	background-position: 88.99371069182389% 44.160583941605836%;
}

.svg-product-img-dims {
	width: 40px;
	height: 40px;
}

.svg-profile {
	@extend %svg-common;
	background-position: 40.46242774566474% 79.93311036789298%;
}

.svg-profile-dims {
	width: 12px;
	height: 15px;
}

.svg-question {
	@extend %svg-common;
	background-position: 98.86363636363636% 44.73684210526316%;
}

.svg-question-dims {
	width: 6px;
	height: 10px;
}

.svg-reg-mail {
	@extend %svg-common;
	background-position: 50.541516245487365% 69.75806451612904%;
}

.svg-reg-mail-dims {
	width: 81px;
	height: 66px;
}

.svg-search {
	@extend %svg-common;
	background-position: 56.395348837209305% 79.66666666666667%;
}

.svg-search-dims {
	width: 14px;
	height: 14px;
}

.svg-speaker {
	@extend %svg-common;
	background-position: 83.92857142857143% 59.24657534246575%;
}

.svg-speaker-dims {
	width: 22px;
	height: 22px;
}

.svg-tg {
	@extend %svg-common;
	background-position: 60.46511627906977% 79.40199335548172%;
}

.svg-tg-dims {
	width: 14px;
	height: 13px;
}

.svg-tw {
	@extend %svg-common;
	background-position: 86.58892128279884% 70.86092715231788%;
}

.svg-tw-dims {
	width: 15px;
	height: 12px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 94.44444444444444% 47.868852459016395%;
}

.svg-vk-dims {
	width: 16px;
	height: 9px;
}

.svg-ytube {
	@extend %svg-common;
	background-position: 90.69767441860465% 70.39473684210526%;
}

.svg-ytube-dims {
	width: 14px;
	height: 10px;
}

